.icon-btn {
  width: 50px;
  height: 50px;
  position: relative;
  font-size: 0;
  border: none;
}

.icon-btn:hover,
.icon-btn:active,
.icon-btn:focus {
  background-color: var(--warm-white);
}

.icon-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #F5ECEA;
  background-position: center;
  background-repeat: no-repeat;
  transition-property: background-color background-image;
  transition-duration: 0.6s;
}

.edit-btn::before {
  background-image: url("images/icons8-edit.svg");
  background-size: 50%;
}

.delete-btn::before {
  background-image: url("images/icons8-trash-can.svg");
  background-size: 50%;
}

.sold-btn::before {
  background-image: url("images/icons8-ok.svg");
  background-size: 60%;
}

.icon-btn:hover::before {
  background-color: var(--melon);
  transition: background-color 0.6s;
}

.edit-btn:hover::before {
  background-image: url("images/hover-edit.svg");
}

.delete-btn:hover::before {
  background-image: url("images/hover-trash.svg");
}

.sold-btn:hover::before {
  background-image: url("images/hover-ok.svg");
}

.icon-btn:active::before  {
  background-color: #fff;
  transition: background-color 0.6s;
}

.product-purchased .sold-btn::before {
  background-image: url("images/icons8-ok(1).svg");;
}