.icon-btn {
  width: 50px;
  height: 50px;
  position: relative;
  font-size: 0;
  border: none;
}

.icon-btn:hover,
.icon-btn:active,
.icon-btn:focus {
  background-color: var(--warm-white);
}

.icon-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  
}

.edit-btn::before {
  background-color: var(--light-rose);
  background-image: url("images/create-24px.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

.delete-btn::before {
  background-color: var(--light-rose);
  background-image: url("images/delete_sweep-24px.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

.sold-btn::before {
  background-color: var(--light-rose);
  background-image: url("images/check_circle_outline-24px.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}