:root {
  --warm-white: #FDFCF6;
  --light-rose: #EAD2CE;
  --melon: #EABDB6;
  --dusty-rose: #C96A6C;
  --bg-green-blue: #E5EBE7;
  --mint: #bed3c3;
  --main-green-blue: #4C8D99;
  --navy: #212e53;
  --dark-blue: #1B243D;
}

.category {
  width: 350px;
  margin: 20px;
  padding: 30px;
  /* background-color: #F8F2F1; */
  
  color: var(--dusty-rose);
  
  border-radius: 15px;
  border: 1px solid var(--dusty-rose);
  
}

.category-private {
  position: relative;
}

.category-private::before {
  content: "private";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 11px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  
  
  background-color: white;
  color: var(--navy);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.74em;
  opacity: 60%;
}

.category img {
  display: block;
  margin: 0 auto;
}

.category h4 {
  margin: 10px auto 40px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.cat-property {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  color: #1B243D;
}

.cat-property {
  font-weight: 300;
  /* text-transform: uppercase; */
  margin: 10px 0 0;
}

.category-link {
  margin-bottom: 30px;
}

.cat-btns {
  display: flex;
  justify-content: space-between;
}









