.category {
  width: 350px;
  margin: 20px;
  padding: 30px;
  color: var(--dusty-rose);
  border-radius: 15px;
  border: 1px solid var(--dusty-rose);
}

.category-private {
  position: relative;
}

.category-private::before {
  content: "private";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 11px;
  border-top-left-radius: 13px;
  border-bottom-right-radius: 15px;
  background-color: var(--dusty-rose);
  color: var(--warm-white);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.74em;
  opacity: 60%;
}

.category img {
  display: block;
  margin: 0 auto;
}

.category h4 {
  margin: 10px auto 40px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.cat-property {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  color: #1b243d;
}

.cat-property {
  font-weight: 300;
  /* text-transform: uppercase; */
  margin: 10px 0 0;
}

.category-link {
  margin-bottom: 30px;
}

.cat-btns {
  display: flex;
  justify-content: space-between;
}
/* .img-container div:not(:first-of-type) {
  display: none;
}

.img-0:hover ~ .img-1 {
  display: block;
}

.img-0:hover {
  display: none;
} */

.img-container {
  position: relative;
  width: 330px;
  height: 330px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.img-container img {
  width: 165px;
  height: 165px;
  object-fit: cover;
}

.img-container img:hover {
  width: 330px;
  height: 330px;
  position: absolute;
  object-fit: cover;
}

.add-notification {
  padding-top: 12px;
  margin:0 10px;
  text-align: center;
  font-size: 0.9em;
}