/* -----------------FOOTER--------------------- */
footer {
  color: var(--warm-white);
}

.footer-list {
  background-color: var(--navy);
  display: flex;
  justify-content: space-between;
}

.footer-list__item {
  padding: 30px;
}