.product-card {
  outline: 1px solid green;
  width: 300px;
  margin: 10px 30px;
}

.product-purchased {
  filter: grayscale(85%)
}

.product-purchased::before {
  content: "purchased";
  background-color: red;
  color: white;
}

.filter-category {
  display: none;
}

.show {
  display: inline;
}

/* .hide {
  display: none;
} */
