.tabs {
  display: flex;
  justify-content: flex-start;
  align-content: stretch;
  padding: 10px 60px 0;
  background-color: var(--main-green-blue);
}

.tab {
  position: relative;
  margin-right: 5px;
  padding: 15px 15px 10px;
  background-color: rgb(166, 197, 200);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--navy);
  
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}


.active-tab {
  background-color: var(--warm-white);
}