:root {
  --warm-white: #FDFCF6;
  --light-rose: #EAD2CE;
  --melon: #EABDB6;
  --dusty-rose: #C96A6C;
  --bg-green-blue: #E5EBE7;
  --mint: #bed3c3;
  --main-green-blue: #4C8D99;
  --navy: #212e53;
  --dark-blue: #1B243D;
}

@font-face {
  font-family: "BerkshireSwash";
  src: url("../BerkshireSwash-Regular.ttf");
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.1em;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* -----------------LOGIN--------------------- */
.login-main {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

/* .half-page {
  width: 50%;
} */

.logo-section {
  width: 30%;
  background-color: var(--main-green-blue);
  font-weight: 500;
  font-size: 26px;
}

.logo-container {
  width: 70%;
  margin: auto;
  height: 50%;
  margin-top: 45%;
  /* outline: 1px solid red; */
  /* background-color: var(--dark-blue); */
}

.logo-container img {
  width: 90%;
  margin: auto;
  margin-left: 5%;
  margin-top: 40%;
  /* outline: 1px solid white; */
}

.wish {
  font-family: "BerkshireSwash";
  font-size: 3em;
  font-weight: 400;
  color: var(--mint);
  text-align: center;
}

.login-section {
  width: 70%;
  background-color: var(--warm-white);
  color: var(--dusty-rose);
}

.login-container {
  /* background-color: var(--warm-white); */
  /* outline: 1px solid greenyellow; */
  width: 50%;
  margin: auto;
  margin-top: 20%;
  height: 50%;
}

form {
  margin-bottom: 50px;
}

h1, h2 {
  display: block;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  font-size: 1.2em;
  margin-bottom: 20px;
}

h2 {
  font-size: 0.8em;
  opacity: 70%;
  color: var(--dusty-rose)
}

ul, li {
  list-style: none;
}

.login__label {
  color: var(--dusty-rose);
  display: block;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 6px;
  padding-bottom: 3px;
}

.login__text {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  margin: 0 auto;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  font-weight: 400;
  padding: 14px 7px;
  color: #C96A6C;
  border: none;
  background-color: var(--warm-white);
  border-bottom: 1px solid var(--light-rose);
  outline: none;
  transition: background-color 0.6s;
}

.login-param {
  position: relative;
  padding-top: 30px;
  padding-bottom: 20px;
}

.login__label {
  position: relative;
}

::placeholder {
  font-size: 1em;
  letter-spacing: 0.05em;
  color: var(--mint);
}

input:focus::placeholder {
  color: transparent;
}

.login__label-email::before {
  content: "Email";
  position: absolute;
  font-size: 0;
}

.login__label-password::before {
  content: "Password";
  position: absolute;
  font-size: 0;
}

.login__text:focus {
  outline: none;
  background-color: var(--light-rose);
}


#email:focus ~ .login__label-email:before {
  text-transform: uppercase;
  left: 10px;
  top: 10px;
  font-size: 11px;
  letter-spacing: 0.05em;
  color: var(--mint);
}

#password:focus ~ .login__label-password:before {
  text-transform: uppercase;
  left: 10px;
  top: 10px;
  font-size: 11px;
  letter-spacing: 0.05em;
  color: var(--mint);
}

.button {
  display: block;
  margin: 10px auto;
  text-align: center;
  padding: 5px 4%;
  border-radius: 1.05em;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  background-color: inherit;
  transition-property: background-color, color, border, border-color;
  transition-duration: 0.6s;
}

.btn-rose {
  color: var(--dusty-rose);
  border: 1px solid var(--dusty-rose);
}

.btn-rose:hover, 
.btn-rose:focus {
  outline: none;
  background-color: var(--dusty-rose);
  color: var(--warm-white);
}

.btn-rose:active {
  background-color: var(--mint);
  border-color: var(--mint);
}

.login-option {
  font-size: 0.8em;
  padding: 10px 0;
}

.login-option a:hover {
  color: var(--main-green-blue);
}

.login-option a:active {
  color: var(--mint);
}

/* -----------------HEADER--------------------- */
header {
  outline: 1px solid red;
  height: 100px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.main-nav {
  display: flex;
}

.user-nav {
  display: flex;
}

.friends {
  width: 180px;
}

.friends .user-nav__friends {
  display: none;
}

.friends:hover .user-nav__friends {
  display: block;
}

.account {
  width: 180px;
}

.account .user-nav__user {
  display: none;
}

.account:hover .user-nav__user {
  display: block;
}

/* main: containers */
.categories-container,
.products-container {
  height: 500px;
  background-color: #a1a1a1;
}

/* -----------------FOOTER--------------------- */
.footer-list {
  display: flex;
  justify-content: space-between;
  outline: 1px solid red;
}