:root {
  --warm-white: white;
  /* --warm-white: #fdfcf6; */

  --light-rose: #ead2ce;
  --melon: #eabdb6;
  --dusty-rose: #c96a6c;
  --bg-green-blue: #e5ebe7;
  --mint: #bed3c3;
  --main-green-blue: #4c8d99;
  --navy: #212e53;
  --dark-blue: #1b243d;
}

@font-face {
  font-family: "BerkshireSwash";
  src: url("../BerkshireSwash-Regular.ttf");
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.1em;
  background-color: var(--warm-white);
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.page-main {
  padding: 0;
}

main h1 {
  color: var(--dusty-rose);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
.visually-hidden:active,
.visually-hidden:hover,
.visually-hidden:focus {
  position: absolute;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}
