body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/* -----------------HEADER--------------------- */
header {
  outline: 1px solid red;
}

nav {
  display: flex;
  justify-content: space-between;
}

.main-nav {
  display: flex;
}

.user-nav {
  display: flex;
}

/* .friends .user-nav__friends {
  display: none;
}

.friends:hover .user-nav__friends {
  display: block;
} */

/* main: containers */
.categories-container {
  height: 500px;
  background-color: #a1a1a1;
}

/* -----------------FOOTER--------------------- */
.footer-list {
  display: flex;
  justify-content: space-between;
  outline: 1px solid red;
}